<div id="app-container" class="col-md-12">
    <div class="container">
        <h2>Welcome to the Health Measures Demo!</h2>
        Choose a protocol to begin!<br/><br/>
<hr/>
        <div class="panel panel-danger" ng-repeat="study in studies track by $index">
          

            <div class="panel-heading-info" style="text-align:center">
                <label id="{{study.id}}" class="btn btn-primary" data-ng-click="setProtocol($event)" >
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start:: {{study.name}}</label>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo{{study.id}}">Settings</button> 
            </div>
            <div class="container-fluid" style="text-align:center">Protocol Description : {{study.description}}<br></div>
            
            <div id="demo{{study.id}}" class="collapse">

<hr>
<label>Reminders:</label>

            <div class="input-group  input-group-sm">
                
                 <div class="input-group-addon">
                <input name="{{study.id}}reminder" id="never" type="radio" ng-checked ="{{reminder[$index] == 'never'}}" data-ng-click="setReminder($event)"/> <label>Never</label>
                </div>

                <div class="input-group-addon">
                <input name="{{study.id}}reminder" id="daily" type="radio" ng-checked ="{{reminder[$index] == 'daily'}}" data-ng-click="setReminder($event)"/> <label>Daily</label>
                </div>

                <div class="input-group-addon">
                <input name="{{study.id}}reminder" id="weekly" type="radio" ng-checked ="{{reminder[$index] == 'weekly'}}" data-ng-click="setReminder($event)"/> <label>Weekly</label>
                </div>

            </div>

<label>Operations:</label>
            <nav class="navbar">
            <label id="{{study.id}}" class="btn btn-default" data-ng-click="removeProtocol($event)" >
                <h6 id="{{study.id}}"><span id="{{study.id}}" class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</h6></label>
            <label id="{{study.id}}" class="btn btn-default" data-ng-click="updateProtocol($event)" >
                <h6 id="{{study.id}}"><span id="{{study.id}}" class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update</h6></label>
            <label id="{{study.id}}" class="btn btn-default" data-ng-click="resultProtocol($event)" >
                <h6 id="{{study.id}}"><span id="{{study.id}}" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Results</h6></label>
            </nav>
<label>Send data to server:</label> <input id="{{study.id}}" type="checkbox" ng-checked ="{{chkbxs[$index]}}"  data-ng-click="setServerData($event)"/> 

</div><!--collapes -->
        </div>

        <div class="panel panel-danger">
            Obtain a QRCode from the study coordinator or go to <a href="https://redcatqrcodegenerator.appspot.com" >https://redcatqrcodegenerator.appspot.com</a> for a demo code. Load the Assessment by clicking the button below and scanning the code.
            <br></br>
            <button class="btn wide btn-default" ng-click="addProtocol()">
                <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Add Assessment
            </button>
            <button class="btn wide btn-default" ng-click="updateServerSettings()">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Refresh Settings  current version: {{ServerSettings| number:2}}
            </button>
        </div>      
    </div>


</div>